.title {
	grid-column: full-start / full-end;
	margin: auto;
	transition: all 1s;

	span {
		color: var(--color-secondary);
	}

	&--name {
		display: block;
		text-align: center;
		animation: moveInLeft 1s ease-out;
	}

	&--location {
		display: block;
		text-align: center;
		margin-top: 1rem;
		animation: moveInRight 1s ease-out;
	}
}
