:root {
	--color-primary-light: #c69963;
	--color-primary-dark: #b28451;

	--color-secondary-light: #ff7730;
	--color-secondary-dark: #eb2f64;

	--color-tertiary-light: #2998ff;
	--color-tertiary-dark: #5643fa;

	--color-white: #faf9f9;
	--color-grey: #ccc;
	--color-black: #101d2c;

	--font-primary: 'Nunito', sans-serif;
	--font-display: 'Josefin Sans', sans-serif;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 1200px;
$bp-larger: 1100px;
$bp-large: 1000px;
$bp-medium: 900px;
$bp-small: 800px;
$bp-smaller: 700px;
$bp-smallest: 500px;
