:root {
	--color-primary: #3b3a3a;
	--color-secondary: #63d488;
	--color-tertiary: #ff3366;

	--font-primary: 'Josefin Sans', sans-serif;
	--font-display: 'Nunito', sans-serif;
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 1200px;
$bp-larger: 1100px;
$bp-large: 1000px;
$bp-medium: 900px;
$bp-small: 800px;
$bp-smaller: 700px;
$bp-smallest: 500px;
