.introduction {
  grid-column: center-start / center-end;
  margin-top: 6rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40rem 1fr;
  justify-items: center;

  &__left-side {
    &--title {
      font-size: 5rem;
    }
    &--text {
      font-size: 3rem;
    }
  }

  &__right-side {
    overflow-x: scroll;
    &--container {
      margin-top: 2rem;
    }

    &--title {
      font-size: 3rem;
    }

    &--text {
      font-size: 1.6rem;
    }
  }

  &__right-side::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background-color: #3b3a3a;
  }
  &__right-side::-webkit-scrollbar-thumb {
    background-color: #63d488;
  }
}

.skills__icon {
  margin-top: 2rem;
  width: 5.5rem;
}
