.header {
	background-color: $color-grey;
	grid-column: full-start / col-end 6;
	background-image: url(../src/img/black-laptop.jpg);
	background-size: cover;
	background-position: center;

	padding: 8rem;
	padding-top: 10rem;

	&--title {
		color: $color-white;
	}
}
