.profile {
	grid-column: full-start / col-end 3;

	display: grid;
	justify-items: center;
	align-items: center;
	opacity: 100;

	&__img {
		padding: 2rem;
		width: 50%;
		border-radius: 50%;
		object-fit: cover;
		display: block;
	}
}
