%heading {
	font-family: var(--font-display);
	color: var(--color-black);
	line-height: 1;
}

.heading-1 {
	@extend %heading;
	text-transform: uppercase;
	font-size: 8rem;
	font-weight: 900;
}

.heading-2 {
	@extend %heading;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 600;
}

.heading-3 {
	@extend %heading;
	font-size: 2.5rem;
	font-weight: 500;
}

.heading-4 {
	@extend %heading;
	font-size: 1.5rem;
	font-weight: 400;
}
