%heading {
	font-family: $font-display;
	font-weight: 400;
	text-transform: uppercase;
	color: $color-black;
	line-height: 1;
}

.heading-1 {
	@extend %heading;
	font-size: 5.5rem;
}

.heading-2 {
	@extend %heading;
	font-size: 4rem;
}

.heading-3 {
	@extend %heading;
	font-size: 1.9rem;
}

.heading-4 {
	@extend %heading;
	font-size: 1.6rem;
}

.btn {
	background-color: $color-primary-light;
	color: $color-white;
	border: none;
	border-radius: 0;
	font-family: $font-display;
	font-size: 1.5rem;
	text-transform: uppercase;
	padding: 1.8rem 3rem;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		background-color: $color-primary-dark;
	}
}
